<ion-header>
  <ion-toolbar class="d-flex">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'TOTAL_ORDERS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <div class="box">
    <div class="font-1 w700">{{ 'TOTAL_ORDERS' | translate }}</div>
    <div class="font-6 w700" margin-top-10>{{ myTotalOrders }}</div>
  </div>

  <div class="box" margin-top-20>
    <div class="font-1 w700">{{ 'TOTAL_ORDERS' | translate }}</div>
    <div class="font-6 w700" margin-top-10>
      <ion-text style="font-size: 1rem !important;">SDG</ion-text> {{ totalAmount  }}
    </div>
  </div> -->

  <ng-container *ngFor="let order of completedOrders">
    <ion-row (click)="goToDetail(order)">
      <ion-col size="4">
        <div class="product-img" [ngStyle]="{ 'background-image': 'url(' + order?.products[0]?.productImage + ')' }">
        </div>
      </ion-col>
      <ion-col>
        <div class="outer-order">
          <h1>{{order.products.length}} {{ order.products.length.length > 1 ? 'Products' : 'Product'}}</h1>
          <ion-row class="info">
            <ion-col class="text">Delivery Fee:
              <span class="value">SDG{{order.deliveryFee}}</span>
            </ion-col>
          </ion-row>
          <ion-row class="info">
            <ion-col class="text">
              Staus:
              <span class="value" [class.order-status-pending]="order.status == 'pending'"
                [class.order-status-delivered]="order.status == 'delivered'"
                [class.order-status-completed]="order.status == 'completed'"
                [class.order-cancelled]="order.isCancelledByAdmin || order.isCancelledByUser">
                {{(order.isCancelledByAdmin || order.isCancelledByUser)  ? 'CANCELLED' :( order.status ? order.status : 'Pending')}}
              </span>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="footer">
      <ion-col class="date-added" size="8">{{order.dateAdded}}
      </ion-col>
      <ion-col class="price">SDG{{order.totalAmount}}</ion-col>
    </ion-row>
  </ng-container>

</ion-content>