<div class="wrp-list ion-padding d-flex align-item-center" (click)="goToDetails() ">
  <div class="wrp-photo" [ngStyle]="{ 'background-image': 'url(' + product.images[0] + ')' }" margin-right-10></div>
  <div>
    <div class="font-3 w700">{{product.name}}</div>
    <div>SDG{{product.price}}</div>
    <div class="d-flex align-item-center">
      <div class="bullet" [class.not_avail]="product.status == 'not_available'"></div>
      <div>{{ product.status }}</div>
    </div>
  </div>
</div>