.wrp-list{
    height: 129px; background-color: white; border-radius: 10px; box-shadow: 0 5px 10px var(--shadow-color); margin-top: 10px;
    .wrp-photo { width: 90px; height: 90px; background: var(--light-font-clr); border-radius: 10px; background-position: center; background-size: cover; }
    .bullet {
        width: 10px; height: 10px; background: lightgreen; border-radius: 50%; margin-right: 6px;
        &.not_avail { background:#ff2e2e !important; }
    }

}