


.list {
    background   : #e4e4e470;
    padding      : 10px;
    border-radius: 6px;
    border       : 1px solid #e8e1e1;
    margin-bottom: 15px;


    .wrp-left {
        ion-icon { color: var(--orange-color); }
        .bar { width: 4px; height: 40px; background: rgb(255, 140, 0); border-radius: 10px; margin  :5px 0; }
    }


}


    // .inner {
    //     display    : flex;
    //     align-items: center;

    //     .other-info {
    //         margin-left: 10px;

    //         .name {
    //             font-size  : 16px;
    //             font-weight: bold;
    //         }

    //         .phone-number {
    //             color    : gray !important;
    //             font-size: 14px;
    //         }
    //     }

    //     .profile-pic {
    //         height         : 60px;
    //         width          : 60px;
    //         display        : inline-block;
    //         background-size: contain;
    //         border-radius  : 50%;
    //     }

    // }

    // .date-added {
    //     color      : gray !important;
    //     text-align : right;
    //     padding-top: 10px;
    // }

    // .location {
    //     margin-top     : 10px;
    //     margin-top     : 10px;
    //     display        : flex;
    //     align-items    : center;
    //     justify-content: center;

    //     ion-icon {
    //         color: var(--orange-color);
    //         font-size: 35px;
    //     }

    //     span {
    //         margin-left: 10px;
    //     }
    // }
// }