<ion-header class="ion-no-border">
  <ion-toolbar class="d-flex">
    <ion-title>
      {{'ORDERS' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <div *ngIf="!pendingOrders.length" class="ion-text-center w-100 absolute-centered">
    {{ 'NO_NEARBY_ORDER_YET' | translate }}
  </div>

  <div class=" ion-margin-top" *ngFor="let order of pendingOrders">

    <app-order-list [order]="order"></app-order-list>

  </div>

</ion-content>