<ion-header>
  <ion-toolbar class="d-flex">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'ORDER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="d-flex align-item-center">
    <div class="var-bar"></div>
    <div class="font-0">{{ 'CONFIRM_ORDER_TEXT' | translate  }}</div>
  </div>

  <div margin-top-20 class="d-flex ">
    <div class="image" [ngStyle]="{ 'background-image': 'url(' + product.images[0] + ')' }" margin-right-10></div>
    <div>
      <div class="font-3 w700">{{ product.name }}</div>
      <div class="font-3 w700">SDG {{ product.price }}</div>
    </div>
  </div>

  <div margin-top-20 class="d-flex align-item-center">
    <div class="var-bar"></div>
    <div class="font-0">
      {{ 'THE_MAX_QUATITY_YOU_CAN_ORDER_TEXT' | translate }} {{ product.quantity }}
    </div>
  </div>

  <div margin-top-20 class="d-flex align-item-center justify-content-space-between">
    <div class="font-3 w900 ellipsis flex-1">{{ 'QUANTITY' | translate }}</div>
    <!-- <ion-input class="input-underline ion-text-center" type="tel" [(ngModel)]="quantity"
      [placeholder]="'ENTER_QTY' | translate"></ion-input> -->
    <!-- <div> -->
    <div class="btn-qty btn-minus" (click)="decrQty()">
      <div class="minus"></div>
    </div>
    <div class="qty label-input font33 w100">{{quantity }}</div>

    <div class="btn-qty" (click)="incrQty()">
      <div class="minus"></div>
      <div class="plus"></div>
    </div>
    <!-- </div> -->
  </div>

  <div margin-top-20 class="d-flex align-item-center justify-content-space-between">
    <div class="font-3 w900 ellipsis flex-1">{{ 'DELIVERY_CHARGES' | translate }}</div>
    <div>SDG {{deliveryCharges}}</div>
  </div>

  <div margin-top-20 class="d-flex align-item-center justify-content-space-between">
    <div class="font-3 w900 ellipsis flex-1">{{ 'TOTAL_AMOUNT' | translate }}</div>
    <div>SDG {{ deliveryCharges + (quantity * product.price)  }}</div>
  </div>

  <div margin-top-20>
    <div class="font-3 w900 ellipsis flex-1">{{ 'SPECIAL_INSTRUCTION' | translate }}</div>
    <ion-textarea [placeholder]="'TYPE_HERE' | translate" [(ngModel)]="productOrder.specialInstruction"></ion-textarea>
  </div>

  <ion-button mode="ios" margin-top-55 class="pink-button" expnad="bloack" (click)="Order()">
    {{ 'ORDER_NOW'  | translate}}</ion-button>
</ion-content>