.var-bar {
    height      : 35px;
    width       : 1px;
    background  : var(--orange-color);
    margin-right: 10px;
}

.image {
    width              : 80px;
    height             : 80px;
    border-radius      : 10px;
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

$size: 12px;

.btn-qty {
    width          : 26px;
    height         : 26px;
    padding        : 7px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : relative;

    .minus {
        width           : $size;
        height          : 2px;
        background-color: var(--orange-color);
    }

    .plus {
        width           : 2px;
        height          : $size;
        background-color: var(--orange-color);
        position        : absolute;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
        margin          : auto;
    }
}

.btn-minus .minus {
    background-color: black;
}