<ion-content class="ion-padding">
  <!-- <ion-icon name="close-icon" (click)="goBack()"></ion-icon> -->
  <!-- <ng-container *ngIf="!hasLocation"> -->
  <div class="ion-text-center main-div v-flex">
    <ion-icon class="loc-icon margin-centered " name="location-icon"></ion-icon>
    <div margin-top-30 class="heading-2">{{ 'ENABLE_YOUR_LOCATION' | translate }}</div>
    <div margin-top-20 [innerHtml]="'ALLOW_LOCATION_TXT' | translate"></div>
    <ion-button margin-top-20 expnad="block" shape="round" mode="ios" (click)="enableLocation()">
      {{ 'ENABLE_LOCATION' | translate }} </ion-button>
  </div>
  <!-- </ng-container> -->
</ion-content>