
.wrp-msgs{
    max-width: 50%;  border-radius: 10px; padding: 9px 16px; background: #e6e6e6; margin-top: 16px;
    clear: both; min-width: 50%;
    div:first-child { font-size: 18px; }
    div:last-child { text-align: end; font-size: 10px; }
}

.isMine { background: linear-gradient(45deg, #ff2d55, #ff2d5591);; float: right; 
    div { color: white !important; }
    div:last-child { text-align: end; }
}



.footer {
    ion-input {
        border-radius: 10px; background: #fff; border: 0.55px solid #e6e6e6; padding: 8px !important;
    }

    .wrp-send-btn {
        width: 44px; height: 44px; border-radius: 50%; background: var(--pink-color);
        ion-icon { font-size: 1.5rem; color: white; }
    }
    
}