<ion-header>
  <ion-toolbar class="d-flex">
    <ion-buttons slot="start">
      <ion-icon (click)="goBack()" name="close-icon"></ion-icon>
    </ion-buttons>
    <ion-title>{{otherUser.username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngFor="let msg of chatMsgs">
    <!--  -->
    <div class="wrp-msgs" [class.isMine]="msg.isMine">
      <div>{{ msg.content }}</div>
      <div>{{ msg.created }}</div>
    </div>
  </ng-container>
</ion-content>

<ion-footer class="ion-padding">
  <div class="footer d-flex align-item-center">
    <ion-input margin-right-10 [(ngModel)]="textmsg" [placeholder]="'TYPE_HERE' |  translate"></ion-input>
    <div class="wrp-send-btn d-flex align-item-center justify-content-center" (click)="sendMsg()">
      <ion-icon name="send"></ion-icon>
    </div>
  </div>
</ion-footer>