<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
    <ion-title>{{'ORDER_DETAIL' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4 class="heading-title">
    {{'ORDER_DETAIL' | translate}}
  </h4>
  <div class="divider"></div>
  <div class="order-info-sect">
    <ion-row>
      <ion-col size="5">{{'ORDER_ID' | translate}}: </ion-col>
      <ion-col class="value">{{order.orderId}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">{{'ORDER_DATE' | translate}}: </ion-col>
      <ion-col class="value">{{order.dateAdded}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">{{'DELIVERY_FEE' | translate}}: </ion-col>
      <ion-col class="value">SDG{{order.deliveryFee}}</ion-col>
    </ion-row>
  </div>

  <h4 class="heading-title">
    {{'PRODUCTS' | translate}}
  </h4>
  <div class="divider"></div>
  <div class="order-info-sect">
    <div *ngFor="let product of order.products;let i=index;" class="list-outer">
      <div margin-top-20 class="d-flex ">
        <div class="image" [ngStyle]="{ 'background-image': 'url(' + product.productImage + ')' }" margin-right-10>
        </div>
        <div class="info-sect">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding" size="10">
              <div class="product-name">{{ product.productName | substring : [20] }}</div>
            </ion-col>
          </ion-row>
          <p class="substringText" style="margin: 5px 0px">
            {{product.description | substring : [100]}}</p>
          <div class="price">SDG {{ product.productPrice * product.quantity }}</div>
        </div>
      </div>

      <div margin-top-20 class="d-flex align-item-center justify-content-space-between">
        <div class="font-3 w900 ellipsis flex-1">{{ 'QUANTITY' | translate }}:{{ product.quantity }}</div>
      </div>
    </div>
  </div>

  <div class="order-cancel-sect">
    <div class="already-cancel" *ngIf="order.isCancelledByAdmin || order.isCancelledByUser">
      *{{(order.isCancelledByUser ? 'ORDER_CANCEL_BY_YOU' : 'ORDER_CANCEL_BY_ADMIN') | translate}}
    </div>
    <div *ngIf="order.status == 'pending' && (!order.isCancelledByAdmin && !order.isCancelledByUser) ">
      {{'CANCEL_ORDER_ANYTIME' | translate}}
      <span class="cancel" (click)="cancelOrder()">{{'CANCEL_ORDER' | translate}}</span>
    </div>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-info">
      <div class="status" [class.order-status-pending]="order.status == 'pending'"
        [class.order-status-delivered]="order.status == 'delivered'"
        [class.order-status-completed]="order.status == 'completed'"
        [class.order-cancelled]="order.isCancelledByAdmin || order.isCancelledByUser">
        {{(order.isCancelledByAdmin || order.isCancelledByUser)  ? 'CANCELLED' :( order.status ? order.status : 'Pending')}}
      </div>
      <div class="price">
        SDG{{order.totalAmount}}
      </div>
    </div>
  </ion-toolbar>
</ion-footer>