.heading-title {
    margin-bottom: -10px;
    margin-top   : 0;
    font-size    : 21px;
    font-weight  : bold;
}

.divider {
    display   : inline-block;
    width     : 15px;
    height    : 3px;
    background: var(--orange-color);
}

.order-info-sect {
    margin-top   : 15px;
    margin-bottom: 15px;

    ion-row {
        .value {
            text-align: right !important;
        }
    }
}

ion-footer {
    ion-toolbar {
        height         : 60px;
        display        : flex;
        align-items    : center;
        justify-content: center;

        .footer-info {
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            padding        : 0 10px;

            .status {
                text-transform: uppercase !important;
            }

            .price {
                color      : var(--orange-color) !important;
                font-size  : 22px;
                font-weight: bold;
            }
        }
    }
}

.order-cancel-sect {
    margin-top: 25px;

    .already-cancel {
        color: #882b2b !important;
        font-weight: bold;
    }

    .cancel {
        margin-top: 5px;
        display        : block;
        color          : #882b2b !important;
        text-decoration: underline;
    }
}