<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="ion-padding-start" slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
    <ion-title>
      {{'SELECT_COUNTRY' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header class="ion-no-border" collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-no-padding" size="large">{{'SELECT_COUNTRY' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar mode="ios" animated [placeholder]="'SEARCH_COUNTRY' | translate" searchIcon="undefined" class="ion-no-padding"
    showCancelButton="focus" (ionChange)="getItems($event)"></ion-searchbar>

  <ng-container *ngFor="let c of countries">
    <div class="d-flex align-item-center justify-content-space-between" margin-top-20 (click)="dismiss(c)">
      <div>{{ c.n }}</div>
      <div>+({{c.d}})</div>
    </div>
  </ng-container>

</ion-content>