<ion-header>
  <ion-toolbar class="d-flex">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'SHOPPING_CART' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="shoppingCart && shoppingCart?.products?.length">
    <div class="d-flex align-item-center">
      <div class="var-bar"></div>
      <div class="font-0">{{ 'CONFIRM_ORDER_TEXT' | translate  }}</div>
    </div>
    <div *ngFor="let product of shoppingCart.products;let i=index;" class="list-outer">
      <div margin-top-20 class="d-flex ">
        <div class="image" [ngStyle]="{ 'background-image': 'url(' + product.productImage + ')' }" margin-right-10>
        </div>
        <div class="info-sect">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding" size="10">
              <div class="product-name">{{ product.productName | substring : [20] }}</div>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right" (click)="removeProduct(i);">
              <ion-icon name="trash" class="trash"></ion-icon>
            </ion-col>
          </ion-row>
          <p class="substringText"
            style="margin: 5px 0px;">
            {{product.description | substring : [100]}}</p>
          <div class="price">SDG {{ product.productPrice * product.quantity }}</div>
        </div>
      </div>

      <div margin-top-20 class="d-flex align-item-center justify-content-space-between">
        <div class="font-3 w900 ellipsis flex-1">{{ 'QUANTITY' | translate }}</div>
        <div class="btn-qty btn-minus" (click)="decrQty(product)">
          <div class="minus"></div>
        </div>
        <div class="qty label-input font33 w100">{{ product.quantity }}</div>

        <div class="btn-qty" (click)="incrQty(product)">
          <div class="minus"></div>
          <div class="plus"></div>
        </div>
      </div>
    </div>

    <div margin-top-20 class="d-flex align-item-center justify-content-space-between">
      <div class="font-3 w900 ellipsis flex-1">{{ 'DELIVERY_CHARGES' | translate }}</div>
      <div>SDG {{deliveryCharges}}</div>
    </div>

    <div margin-top-20>
      <div class="font-3 w900 ellipsis flex-1">{{ 'SPECIAL_INSTRUCTION' | translate }}</div>
      <ion-textarea [placeholder]="'TYPE_HERE' | translate" [(ngModel)]="shoppingCart.specialInstruction">
      </ion-textarea>
    </div>

    <div margin-top-20 class="total-amount">
      <span class="text">{{ 'TOTAL_AMOUNT' | translate }}:</span>
      <span class="price">SDG {{ shoppingCart.totalAmount  }}</span>
    </div>

  </div>

  <div *ngIf="!shoppingCart || shoppingCart?.products?.length == 0">
    <div class="wrp-ill">
      <ion-icon name="add-order"></ion-icon>
    </div>
    <p class="ion-text-center">Your cart is empty</p>
  </div>
</ion-content>

<ion-footer class="ion-padding" *ngIf="shoppingCart?.products?.length">
  <div class="d-flex justify-content-center">
    <ion-button class="outline-button" expand="block" mode="ios" (click)="Order()"
      shape="round">
      {{ 'ORDER_NOW' | translate }}</ion-button>
  </div>
</ion-footer>