.var-bar {
    height      : 35px;
    width       : 1px;
    background  : var(--orange-color);
    margin-right: 10px;
}

.image {
    min-width          : 90px;
    height             : 90px;
    border-radius      : 6px;
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

$size: 12px;

.btn-qty {
    width          : 26px;
    height         : 26px;
    padding        : 7px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : relative;

    .minus {
        width           : $size;
        height          : 2px;
        background-color: var(--orange-color);
    }

    .plus {
        width           : 2px;
        height          : $size;
        background-color: var(--orange-color);
        position        : absolute;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
        margin          : auto;
    }
}

.btn-minus .minus {
    background-color: black;
}

.list-outer {
    border-bottom : 1px solid #cccccc7a;
    padding-bottom: 20px;
}

.price {
    font-size  : 14px;
    text-align : right;
    font-weight: bold;
}

.info-sect {
    width: 100%;
}

.trash{
    font-size: 22px;
    color: #900606;
}

.product-name{
    font-size: 16px;
    font-weight: bold;
}

.total-amount{
    text-align: right;
    .text{
        margin-right: 5px;
    }
    .price{
        font-size: 22px;
        color: var(--orange-color) !important;
        font-weight: bold;    
    }
}