.code-input {
    font-size     : 1.9rem;
    letter-spacing: 1.2rem;
}

.red-alert {
    color    : red !important;
    padding  : 5px 0 0 15px;
    font-size: 0.8rem;
    position : relative;
    top      : 20px;
}

.terms-outer {
    padding-left: 10px;
    margin-top  : 5px;
}