<ion-header class="ion-no-border ion-padding-horizontal">
  <ion-toolbar>
    <!-- <ion-title>phone-verification</ion-title> -->
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide class="justify-content-flex-start ion-padding flex-direction-column">
      <div margin-top-55 class="heading ion-text-center" [innerHtml]="'PHONE_VERIFICATION' | translate"> </div>
      <div margin-top-30 class="ion-text-center"> {{ 'ENTER_OTP_HERE' | translate }}</div>

      <ion-input type="tel" (ionChange)="inputChange($event)" [(ngModel)]="smsInfo.smsCode" maxlength="6" margin-top-30
        class="ion-text-center mrs-input code-input color-orange"></ion-input>

      <div class="d-flex align-items-center justify-content-center mrs-anm" margin-top-100>
        <div class="color-light-grey" margin-right-10>{{ 'DIDNT_RECEIVED_CODE' | translate }}</div>
        <div class="mrs-anm" [class.fade-out]="timer < 1"> <span *ngIf="timer < 10">0</span>{{ timer }}</div>
      </div>
      <div class="ion-text-center color-orange fade-out mrs-anm" [class.fade-in]="timer < 1" (click)="resendCode()">
        {{ 'RESEND_CODE_TEXT' | translate }}
      </div>
    </ion-slide>

    <ion-slide class="justify-content-flex-start align-item-flex-start ion-padding flex-direction-column">
      <div margin-top-55 class="heading ion-text-center w-100">{{ 'CREATE_AN_ACC' | translate }}</div>
      <div class="red-alert" *ngIf="validate.isNameValidate">* no special character could be inserted in the name field.</div>
      <ion-input (ionChange)="changeNameEve($event)" [(ngModel)]="user.displayName"
        [placeholder]="'ENTER_USERNAME'| translate" maxlength="45" margin-top-30
        class="ion-text-start ion-padding-horizontal mrs-input"></ion-input>

      <div class="red-alert" *ngIf="validate.isEmailValidate">* please enter valid email.</div>
      <ion-input (ionChange)="changeemailEve($event)" [placeholder]="'ENTER_EMAIL'| translate" margin-top-20
        [(ngModel)]="user.email" class="ion-text-start ion-padding-horizontal mrs-input">
      </ion-input>


      <ion-input readonly mask="(999) 999-9999" [value]="userNum" margin-top-20
        class="ion-text-start ion-padding-horizontal mrs-input">
      </ion-input>

      <ion-list class="ion-no-padding ion-no-margin w-100" lines="none" margin-top-30>
        <ion-item class="ion-no-padding ion-no-margin terms-outer">
          <ion-checkbox [(ngModel)]="user.isAgreementSigned" slot="start"></ion-checkbox>
          <ion-label>{{ "TERMS_POLICY" | translate}}</ion-label>
        </ion-item>
      </ion-list>

      <ion-button [disabled]="!user.isAgreementSigned" mode="ios" margin-top-30 expand="block" shape="round"
        (click)="register()">
        {{ 'REGISTER' | translate }}
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>