.item {
    border-radius: 7px;
    background: white;
    box-shadow: 0px 7px 20px #999;
    .map {
        width: 100%; height: 150px; border-radius: 7px;
    }

    .status-pending { color: red !important; }
    .staus-completed { color: lightgreen !important; }
}



.list {
    background   : #e4e4e470;
    padding      : 10px;
    border-radius: 6px;
    border       : 1px solid #e8e1e1;
    margin-bottom: 15px;



    .wrp-left {
        ion-icon { color: var(--orange-color); }
        .bar { width: 4px; height: 40px; background: rgb(255, 140, 0); border-radius: 10px; margin  :5px 0; }
    }

    .wrp-address { width: 80%; }
    .waiting { text-align: center; margin: 16px 0 6px; font-size: 20px; font-weight: 700; color:var(--ion-color-success) !important; border-top: 0.55px solid #888787; border-bottom: 0.55px solid #888787; padding: 16px; }

    .completed {
        text-align: center; margin: 16px 0 6px; font-size: 20px; font-weight: 700; color: #eb445a !important; border-top: 0.55px solid #888787; border-bottom: 0.55px solid #888787; padding: 16px;
    }

}