<!-- <div class="item d-flex v-flex">
  <div class="map" #map></div>
  <div class="ion-padding">
    <div >{{address}}</div>
    <div margin-top-5 class="status-{{order.status}}">{{ order.status }}</div>
  </div>
</div> -->

<div class="list" (click)="goToDetails(order)">
  <div class="d-flex align-item-center justify-content-space-between">
    <div class="font-2 w700 ellipsis flex-1">{{order.userName}}</div>
    <!-- <ion-text margin-left-10 class="color-orange" *ngIf="!isCustomerCalled" underline>Go to details</ion-text> -->
  </div>
  <div class="">{{order.comment}}</div>

  <div class="d-flex align-item-center" margin-top-10>
    <div class="wrp-left d-flex flex-direction-column align-item-center">
      <ion-icon name="radio-button-off"></ion-icon>
      <div class="bar"></div>
      <ion-icon name="radio-button-on"></ion-icon>
    </div>

    <div margin-left-15 class="flex-1 wrp-address">
      <div class="ellipsis">{{order.pickupLoc.address}}</div>
      <div class="hr-sep"></div>
      <div class="ellipsis">{{order.dropoffLoc.address}}</div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-space-between ion-margin-top">
    <div class="w700 font-2">{{ 'FARES' | translate   }}</div>
    <div class="w700 font-1">SDG {{ order.totalFares }}</div>
  </div>

  <ion-button expand="block" margin-top-10 (click)="goToDetails(order)" mode="ios"
    *ngIf="!isCustomerCalled && order.status != 'completed'">
    {{ 'ORDER_DETAILS' |  translate }}</ion-button>
  <ion-button expand="block" (click)="goToDetails(order)" color="success" margin-top-10 mode="ios"
    *ngIf="order.status != 'completed' && order.status != 'pending' && isCustomerCalled">{{ 'TRACK_NOW' |  translate }}
  </ion-button>

  <div *ngIf="order.status == 'pending' && isCustomerCalled" class="waiting" (click)="goToDetails(order)">
    {{ 'WAITING' |  translate }}</div>

  <div *ngIf="order.status == 'completed'" class="completed">{{ 'COMPLETED' |  translate }}</div>


</div>