<ion-content no-bounce>
  <div class="parent-div">
    <div class="image-container1 d-flex align-item-center" padding>
      <div class="overlay-top"></div>
      <div class="entry-btn top-90" (click)="continue()">{{ "CONTINUE_AS_CUSTOMER" | translate }}</div>
    </div>
    <div class="shadow-seperator"></div>
    <div class="image-container2 d-flex  align-item-center justify-content-flex-end" padding>
      <div class="overlay-btm"></div>
      <div class="entry-btn btm-100" (click)="continue()">{{ "CONTINUE_AS_DRIVER" | translate }}</div>
    </div>
  </div>

</ion-content>