.bg-positioning { background-size: cover; background-position: center; background-repeat: no-repeat }

    .wrp-cust-tut { background-image: url('../../../assets/imgs/driver.jpg'); @extend .bg-positioning; }
    .wrp-host-tut {  background-image: url('../../../assets/imgs/driver.jpg');  @extend .bg-positioning;  }

    // position: absolute; height: 100vh; width: 100%; top: 0;
    .image-container1 {
        position: absolute;
        @extend .wrp-host-tut; width: 100%; height: 59vh; clip-path: polygon(0 0, 100% 0, 100% 70.5%, 0% 100%);   background-position: inherit !important;
       }

       .image-container2 {
        @extend .wrp-cust-tut; width: 100%; height: 58vh; clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%); position: absolute;
           bottom: 0; 
       }

       .parent-div { position: absolute; width: 100vw; height: 100vh; top:0 }

       .entry-btn {
        margin: 0 40px; position: relative; color: white !important;
        padding: 0 10px; background: var(--orange-color); height: 48px; border-radius: 10px; display: flex; align-items: center; justify-content: center; font-weight: 900; font-size: 1.5rem;
       }


       .btm-100 { bottom: 50px; }
       .top-90 { top: 50px; }