<ion-header class="ion-no-border">
  <ion-toolbar class="d-flex">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
    <ion-title>{{'NEW_ORDER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div margin-top-30></div>
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide class="justify-content-flex-start ion-padding flex-direction-column align-item-flex-start">
      <div class="heading-2">{{ 'TYPE_OF_SERVICE' | translate }}</div>
      <!-- <div *ngFor="let service of typeOfService" class="d-flex selection-item" (click)="selectServiceType(service)">
        <ion-icon [name]="service.isSelected ? 'checked-icon' : 'empty-check-icon' " margin-right-10></ion-icon>
        <div class="flex-1">{{ service.label | translate }}</div>
      </div> -->
      <div class="card-view" (click)="selectServiceType(typeOfService[0])">
        <img  width="20%" src="assets/imgs/up-loc-icon.jpeg">
        <div>{{ typeOfService[0].label | translate }}</div>
      </div>

      <div class="card-view" (click)="selectServiceType(typeOfService[1])">
        <img width="20%" src="assets/imgs/btm-loc-icon.jpeg">
        <div>{{ typeOfService[1].label | translate }}</div>
      </div>

    </ion-slide>

    <!-- <ion-slide class="justify-content-flex-start ion-padding flex-direction-column align-item-flex-start">
      <div class="heading-2">{{ 'TYPE_OF_CAR' | translate }}</div>
      <div *ngFor="let cartype of typeOfCar" class="d-flex align-item-center selection-item"
        (click)="selectCarType(cartype)">
        <ion-icon [name]="cartype.isSelected ? 'checked-icon' : 'empty-check-icon' " margin-right-10></ion-icon>
        <div class="flex-1">{{ cartype.label | translate }}</div>
      </div>
    </ion-slide> -->

    <ion-slide class="justify-content-flex-start ion-padding flex-direction-column three">
      <!-- <div #map class="map"></div> -->
      <ng-container *ngIf="!hasLocation">
        <ion-icon class="loc-icon" name="location-icon"></ion-icon>
        <div margin-top-30 class="heading-2">{{ 'ENABLE_YOUR_LOCATION' | translate }}</div>
        <div margin-top-20 [innerHtml]="'ALLOW_LOCATION_TXT' | translate"></div>
        <ion-button margin-top-20 expnad="block" shape="round" mode="ios" (click)="enableLocation()">
          {{ 'ENABLE_LOCATION' | translate }} </ion-button>
      </ng-container>

      <ng-container *ngIf="hasLocation">
        <div class="ion-text-start w-100">
          <div class="d-flex align-item-center justify-content-space-between" (click)="selectLocation('PICK_UP')">
            <div class="heading-2">
              {{  'PICKUP_LOCATION'  | translate }}</div>
            <ion-icon *ngIf="!typeOfService[0].isSelected" name="location-icon"></ion-icon>
          </div>
          <div margin-top-10 class="d-flex align-item-center">
            <ion-icon name="address-light"></ion-icon>
            <div>{{ pickup_dropoff_locs.pickupLocation }}</div>
          </div>
        </div>

        <div class="sep"></div>

        <div class="ion-text-start w-100">
          <div margin-top-30 class="d-flex align-item-center justify-content-space-between"
            (click)="selectLocation('DROP_OFF')">
            <div class="heading-2">{{ 'DROPOFF_LOCATION' | translate }}</div>
            <ion-icon *ngIf="typeOfService[0].isSelected" name="location-icon"></ion-icon>
          </div>
          <div margin-top-10 class="d-flex align-item-center">
            <ion-icon name="address-light"></ion-icon>
            <div>{{ pickup_dropoff_locs.dropoffLocation }}</div>
          </div>
        </div>

        <div class="sep"></div>

        <div margin-top-30 class="ion-text-start w-100">

          <div class="heading-2">{{ 'ADD_COMMENT' | translate }}</div>
          <ion-textarea [(ngModel)]="pickup_dropoff_locs.orderDetail" rows="6" cols="20"
            [placeholder]="'PLEASE_ADD_DESCP_HERE' | translate"></ion-textarea>

        </div>
      </ng-container>

    </ion-slide>

    <ion-slide class="justify-content-flex-start ion-padding flex-direction-column four">
      <div class="heading-2">{{ 'ORDER_DETAIL' | translate }}</div>
      <div class="sep"></div>
      <div margin-top-20 class="heading-3 w-100 ion-text-start">{{ 'TYPE_OF_SERVICE' | translate }}</div>
      <div margin-top-10 class="w-100 ion-text-start">{{ selectedService.label }}</div>
      <!-- <div margin-top-20 class="heading-3 w-100 ion-text-start">{{ 'TYPE_OF_CAR' | translate }}</div>
      <div margin-top-10 class="w-100 ion-text-start">{{ selectedCar.label }}</div> -->
      <div margin-top-20 class="heading-3 w-100 ion-text-start">{{ 'PICKUP_LOCATION' | translate }}</div>
      <div margin-top-10 class="w-100 ion-text-start">{{ pickup_dropoff_locs.pickupLocation }}</div>
      <div margin-top-20 class="heading-3 w-100 ion-text-start">{{ 'DROPOFF_LOCATION' | translate }}</div>
      <div margin-top-10 class="w-100 ion-text-start"> {{ pickup_dropoff_locs.dropoffLocation }}</div>
      <ng-container *ngIf="pickup_dropoff_locs.orderDetail">
        <div margin-top-20 class="heading-3 w-100 ion-text-start">{{ 'ORDER_DETAIL' | translate }}</div>
        <div margin-top-10 class="w-100 ion-text-start"> {{ pickup_dropoff_locs.orderDetail }}</div>
      </ng-container>

      <div margin-top-20 class="heading-3 w-100 ion-text-start">{{ 'TOTAL_FARES' | translate }}</div>
      <div margin-top-10 class="w-100 ion-text-start">SDG {{ orderDetail.totalFares }}</div>

    </ion-slide>

  </ion-slides>
</ion-content>

<ion-footer class="ion-padding">
  <!--  -->
  <ion-button
    [disabled]="((!pickup_dropoff_locs.pickupLocation || !pickup_dropoff_locs.orderDetail.length) && step == 1)"
    mode="ios" expand="block" (click)="continue()">
    <span *ngIf="step <= 1">{{ 'NEXT' | translate }}</span>
    <span *ngIf="step == 2">{{ 'ORDER_NOW' | translate }}</span>
  </ion-button>
</ion-footer>