.selection-item {
    margin-top: 25px;;
    ion-icon { width: 30px; height: 30px; }
    div { text-align: left; }
}

.map { width: 100%; height: 500px;}

.three {
    .loc-icon { width: 130px; height: 130px; }
    ion-icon { width: 30px; height: 30px; }
}

ion-input { margin-top: 20px;}

.sep {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to left,rgba(255,255,255,0) 0,rgb(255, 140, 0) 50%,rgba(255,255,255,0) 101%) 100% 0 100% 0/0 0 2px 7 stretch;
    width: 100%;
    margin-top: 30px;
}


.card-view {
    background: #f7f7f7;
    border-radius: 10px; 
    padding: 16px;
    box-shadow: 0 0 10px #bfbfbf;
    margin-top: 40px;
    img { width:35% }
}