ion-toolbar {
    height: 44px !important;
}

ion-slides {
    height: 280px;
    width : 100%;

    .image {
        height             : inherit;
        width              : inherit;
        background-position: center;
        background-size    : cover;
        background-repeat  : no-repeat;
    }
}

.prod-name {
    font-size  : 20px;
    font-weight: bold;
}

.description {
    font-size  : 15px;
    line-height: 25px;
}

.item-price{
    position: absolute;
    top: 45px;
    z-index: 99;
    right: 20px;
    background: var(--orange-color);
    display: inline-flex;
    height: 40px;
    width: 115px;
    color: #fff !important;
    border-radius: 10em;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}