<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="position-relative">

    <div class="item-price">SDG{{ product.price }}</div>

  <div class="header-on-content">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
  </div>

  <ion-slides>
    <ion-slide *ngFor="let img of product.images">
      <div class="image" [ngStyle]="{ 'background-image': 'url(' + img + ')' }"></div>
    </ion-slide>
  </ion-slides>

  <div class="ion-padding">
    <div class="d-flex justify-content-space-between">
      <div class="prod-name">{{ product.name }}</div>
    </div>

    <!-- <div margin-top-10 class="d-flex justify-content-space-between">
      <div class="font-3 w900 ellipsis">{{ 'PRICE' | translate }}</div>
      <div class="font-3 w900">SDG {{ product.price }}</div>
    </div> -->


    <!-- <div margin-top-10 class="d-flex justify-content-space-between">
      <div class="font-3 w900 ellipsis">{{ 'QUANTITY' | translate }}</div>
      <div class="font-1 ">{{ product.quantity }}</div>
    </div> -->

    <!-- <div margin-top-10 class="d-flex align-item-center justify-content-space-between">
      <div class="font-3 w900 ellipsis">{{ 'STATUS' | translate }}</div>
      <div class="font-1  color-red" [class.color-green]="product.status == 'available'" text-capatilize>{{ product.status }}</div>
    </div> -->


    <div margin-top-10>
      <!-- <div class="font-3 w900 ellipsis">{{ 'DESCRIPTION' | translate }}</div> -->
      <div class="description">{{ product.description }}</div>
    </div>




  </div>

</ion-content>

<ion-footer class="ion-padding">
  <div class="d-flex justify-content-center">
    <ion-button [disabled]="isAlreadyInCart" class="outline-button" expand="block" mode="ios" (click)="grabIt()" shape="round">
      {{ (isAlreadyInCart ? 'ALREADY_IN_CART' : 'ADD_TO_CART') | translate }}</ion-button>
  </div>
</ion-footer>