<div class="wrp-rating ion-padding">
  <div class="header-text ion-text-center">{{ 'HOW_WAS_EXPERIENCE_WITH' | translate }}</div>
  <div class="wrp-maid-info d-flex align-item-center justify-content-space-between ion-margin-top">
    <div class="one d-flex align-item-center justify-content-center">
      <!--  -->
      <!-- <div class="maid-img" [class.userAlter]="!requestData?.maidInfo?.thumb"
        [ngStyle]="{'background-image': 'url(' + requestData?.maidInfo?.thumb + ')'}"></div> -->
      <div>
        <div class="d-flex align-item-center">
          <div class="maid-name color-theme-font w600 font-2" margin-right-15>
            {{( type == 'user' ? driver.driverName : requestData?.userName )}}
          </div>
          <ion-icon name="checkbox" color="success"></ion-icon>
        </div>
        <div class="font-0" light-grey-text-color>
          {{ (type == 'user' ? "RATE_YOUR_DRIVER" : "RATE_YOUR_CUSTOMER") | translate }}</div>
      </div>
    </div>
    <div class="two flex-1">
      <div class="font-0 ion-text-end" light-grey-text-color>{{ "CALCULATE_CHARGES" | translate }}</div>
      <div margin-top-5 class="font-2 gothicBold w700 color-theme-font ion-text-end">SDG{{requestData?.totalFares}}
      </div>
      <!-- <div class="d-flex align-item-center justify-content-end">
        <ion-icon name="cash" class="right-margin font-5 color-theme-font"></ion-icon>
        <span>{{ 'CASH' | translate }}</span>
      </div> -->
    </div>
  </div>

  <div class="_wrp-rating eq-hw">
    <div class="d-flex justify-content-center align-items-center">

      <div class="item-content-wrapper">
        <div class="wrapper-rating-starts d-flex justify-content-center">
          <div class="wrapper-star" (click)="rate(1);">
            <ion-icon class="fam-anm font-5" name="star"
              [ngClass]="{ 'star-grey' : rating < 1, 'star-yellow': rating >= 1}"></ion-icon>
          </div>
          <div class="wrapper-star" (click)="rate(2);">
            <ion-icon class="fam-anm font-5" name="star"
              [ngClass]="{ 'star-grey' : rating < 2, 'star-yellow' :rating >= 2}"></ion-icon>
          </div>
          <div class="wrapper-star" (click)="rate(3);">
            <ion-icon class="fam-anm font-5" name="star"
              [ngClass]="{ 'star-grey' : rating < 3, 'star-yellow' :rating >= 3}"></ion-icon>
          </div>
          <div class="wrapper-star" (click)="rate(4);">
            <ion-icon class="fam-anm font-5" name="star"
              [ngClass]="{ 'star-grey' : rating < 4, 'star-yellow' :rating >= 4 }"></ion-icon>
          </div>
          <div class="wrapper-star" (click)="rate(5);">
            <ion-icon class="fam-anm font-5" name="star"
              [ngClass]=" {'star-grey' : rating < 5, 'star-yellow' :rating >= 5} "></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrp-coment">
    <div class="font-1 w700 color-theme-font spacing ion-text-center">{{ 'ANY_OTHER_FEEDBACK' | translate }}</div>
    <ion-textarea rows=4 placeholder="{{'ENTER_ANY_OTHER_FEEDBACK' | translate}}"></ion-textarea>
  </div>

  <ion-button [disabled]="rating < 1" mode="ios" expand="block" class="ion-margin-top" (click)="submit()">
    {{ 'SUBMIT' | translate }}
  </ion-button>
</div>