.wrp-rating { width: 100%;box-shadow: 0 0 10px #e6e6e6; position: absolute; bottom: 0; background: white; border-radius: 20px 20px 0 0;  z-index: 99; height: 372px;}
.wrp-maid-info { 
    .one { 
        .maid-img {
            background-color:#ccc; background-position: center; background-size: cover; border-radius: 100%; height: 60px; width: 60px; margin-right: 10px;
        } 
        .maid-name { margin-right: 7px; }
    }
 }

//  .wrapper-rating-reviews{
    .item{
        margin-bottom: 14px;
        .user-img { width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
           background-position: center;
            background-size: cover;
            background-color: #d1d8e01f;
           }
        .wrapper-rating-starts {
            .wrapper-star { padding: 3px;
                ion-icon { vertical-align: middle; font-size: 24px; transition: color 200ms ease-in; }
            }
            .star-grey { color: #000000bf }
            .star-grey { color: yellow }
        }
   
        
    }
    ._wrp-rating{
        margin-top: 10px;
        ion-textarea { background: rgb(245 ,245 ,245 , 18%);margin-top: 5px;padding: 6px 10px;border-radius: 5px; border: 1px solid #ccc; 
            textarea { margin:0 !important; }
        }            
    }

    .wrp-coment { 
        ion-textarea { padding: 0 10px; background: rgb(245 ,245 ,245 , 18%); border-radius: 5px; }
    }
// }
