<ion-content class="ion-padding">

  <div margin-top-40 class="ion-text-end w900"> {{ 'SIGN_OUT' |  translate }}</div>
  <div class="ion-text-center absolute-centered width-60">
    <img src="assets/imgs/user-block.png" width="30%">
    <div margin-top-30 class="font-2 w900 ion-text-center">{{ 'YOUR_ACC_HAS_BEEN_BLOCKED' |  translate }}</div>
  
    <div margin-top-20 class="font-0 ion-text-center" [innerHtml]=" 'UNBLOCK_ACCOUNT_MSG' |  translate"></div>
  
    <ion-button margin-top-20 shape="round">{{ 'CONTACT_US'  | translate}}</ion-button>
  </div>
</ion-content>