<ion-content class="ion-padding header">
  <div class="d-flex align-item-center" margin-top-55>
    <div class="profile-pic" margin-right-10
      [ngStyle]="{ 'background-image': 'url(' + (user.photoUrl ? user.photoUrl : '../../../assets/imgs/user_alter.png') + ')' }">
    </div>
    <div class="flex-1">
      <div class="heading color-purple">{{ 'HELLO' | translate }}</div>
      <div class="heading-2">{{ user.displayName }}</div>
    </div>
  </div>
  <br>
  <div>{{ "PLACE_YOU_ORDER_BY_BELOW_BTN" | translate }}</div>

  <div class="wrp-ill">
    <ion-icon name="add-order"></ion-icon>
  </div>

  <div class="d-flex justify-content-center">
    <ion-button margin-top-30 class="order-now-btn" mode="ios" expand="block" shape="round" (click)="addOrder()">
      {{ 'ORDER_NOW' | translate }}
    </ion-button>
  </div>
  <!-- <div class="add-btn absolute-centered">
    <ion-icon name="plus-white"></ion-icon>
  </div> -->
</ion-content>