<ion-header class="ion-no-border">
  <ion-toolbar class="d-flex">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
    <ion-title>{{'ADD_CARD' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-input margin-top-10 class="underline-input" [placeholder]="'NAME_ON_CARD' |  translate"></ion-input>

  <ion-input margin-top-10 class="underline-input" type="tel" [placeholder]="'CARD_NUM' |  translate"></ion-input>

  <div margin-top-10 class="d-flex align-item-center justify-content-space-between">
    <ion-input class="underline-input width-49" type="tel" [placeholder]="'EXP_MONTH' |  translate"></ion-input>
    <ion-input class="underline-input width-49" type="tel" [placeholder]="'CVC' |  translate"></ion-input>
  </div>

  <ion-button margin-top-20 expand="block" shape="round">{{ 'SAVE' | translate }}</ion-button>

</ion-content>