<ion-header>
  <ion-toolbar class="d-flex">
    <ion-buttons slot="start">
      <ion-icon (click)="close()" name="close-icon"></ion-icon>
    </ion-buttons>
    <!-- <ion-title></ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="user">
    <div class="thumb" [ngStyle]="{'background-image' : 'url('+  user.photoUrl +')'}"></div>

    <ion-list lines="none">
      <ion-item class="ion-no-padding">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>{{ user.displayName }}</ion-label>
      </ion-item>

      <ion-item class="ion-no-padding" (click)="callANumber()">
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label>{{ user.phoneNumber }}</ion-label>
      </ion-item>

      <ion-item class="ion-no-padding" *ngIf="type == 'drivers'">
        <ion-icon [color]="user.status == 'active' ? 'success' : 'danger'" name="radio-button-on" slot="start">
        </ion-icon>
        <ion-label>{{ user.status }}</ion-label>
      </ion-item>


      <ion-item class="ion-no-padding">
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>{{ user.updatedDate }}</ion-label>
      </ion-item>

      <ion-item class="ion-no-padding" detail (click)="openChat()">
        <ion-icon name="chatbubble" slot="start"></ion-icon>
        <ion-label>{{ (type == 'drivers' ? 'CHAT_WITH_DRIVER' :  'CHAT_WITH_CUSTOMER') | translate }}</ion-label>
        <ion-badge *ngIf="myChatUser?.unread_count > 0" color="danger">{{ myChatUser?.unread_count }}</ion-badge>
      </ion-item>


    </ion-list>
  </ng-container>
</ion-content>