.thumb {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background: #8e8e8e;
    margin-top: 55px;
    margin-bottom: 55px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}