.wrp-country {
    .country { height: 44px; background-color: var(--light-grey); width: 70px; border-radius: 50px 0px 0px 50px; border-right: 0.5px solid #999; }
    ion-input { height: 44px; --background: var(--light-grey); border-radius: 0 50px 50px 0 !important;  }
}