<!-- <ion-header>
  <ion-toolbar>
    <ion-title>phone-auth</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <!-- <ion-icon name="close-icon" (click)="goBack()"></ion-icon> -->
  <div margin-top-100 class="heading ion-text-center" [innerHtml]="'VERIFY_YOUR_PHONE_NUM' | translate"></div>
  <div class="ion-text-center" margin-top-30>{{ "WE_HAVE_SENT_SMS" | translate }}</div>
  <div class="wrp-country d-flex align-item-center" margin-top-30>
    <div class="country w700 d-flex align-item-center justify-content-center" (click)="selectCountry()">+{{ country.d }}
    </div>
    <ion-input type="tel" [(ngModel)]="userNumber" class="ion-padding-horizontal" placeholder="xxx xxx xxx"></ion-input>
  </div>

  <ion-button mode="ios" (click)="proceedNext()" margin-top-30 expand="block" shape="round">{{ 'NEXT' | translate }}
  </ion-button>
</ion-content>