.map { width: 100%; height: 100%; }
.wrp-map-header{ position: absolute; top: 0; width: 100%; z-index: 9; height: 150px; background: linear-gradient(to bottom, rgba(255, 255, 255, 1), transparent); }

.up-icon { position: absolute; width: 100%; text-align: center; top: 55%;
    ion-icon { font-size: 2rem; }
}
.top{ position: absolute; width: 100%; text-align: center; top :10%; z-index: 99;
    ion-icon { font-size: 2rem; }
}

.wrp-driver-updates {
    background   : #e4e4e4;
    padding      : 16px;
    border-radius: 6px;
    border       : 1px solid #e8e1e1;
    position     : absolute;
    z-index      : 9;
    bottom       : 0 ;
    width        : 100%;
    border-radius: 30px 30px 0 0;
    box-shadow   : 0px -3px 11px rgb(0 0 0 / 0.3);

    .wrp-left {
        ion-icon { color: var(--orange-color); }
        .bar { width: 4px; height: 40px; background: #ff8c00; border-radius: 10px; margin  :5px 0; }
    }
}


.hideShowIcon {
    font-size: 40px; position: relative; left: 50%; transform: translateX(-50%);
}

// .bottom { bottom: 80px; }

.hide { transform: translateY(230px) !important; }
.show { transform: translateY(0); }

.rotate  {transform: translateX(-50%) rotate(180deg); }