<ion-content>
  <div class="wrp-map-header ion-padding">
    <ion-icon class="ion-padding" (click)="close()" name="close-icon"></ion-icon>
  </div>
  <div class="map" #map></div>


  <div class="wrp-driver-updates mrs-anm show" [class.hide]="isHideSlide" #swipeDiv>
    <ion-icon name="chevron-down" class="hideShowIcon mrs-anm" [class.rotate]="isHideSlide" [class.bottom]="isHideSlide"
      (click)="hideShowDiv()"></ion-icon>

    <ng-container *ngIf="isTracking">
      <div class="font-5" *ngIf="order.status == 'pending'">{{ 'LOOKING_UP_FOR_DRIVER' | translate }}</div>
      <div class="font-5" *ngIf="order.status != 'pending'">{{ order.driverOffer.driverName }}</div>
      <div>{{ driverStatus | translate }}</div>
      <br>
      <ion-button *ngIf="order.status != 'completed' && order.status != 'pending'" (click)="goToDetails()"
        color="pink-color" expand="block" margin-top-10 mode="ios">
        {{ 'MORE_DETAILS' | translate }}</ion-button>
      <ion-progress-bar [type]="order.status == 'pending' ? 'indeterminate' : ''" class="ion-margin-vertical"
        color="orange-color"></ion-progress-bar>

    </ng-container>




    <div class="d-flex align-item-center justify-content-space-between">
      <div class="font-2 w700 ellipsis flex-1">{{order.userName}}</div>
    </div>
    <div class="">{{order.comment}}</div>
    <ng-container *ngIf="!isTracking">

      <div *ngIf="order.status == 'accepted'">{{ 'PLEASE_HEAD_TO_THE_PICKUP_LOCATION' | translate }}</div>

      <br>
      <ion-button *ngIf="order.status != 'completed'" (click)="goToDetails()" color="pink-color" expand="block"
        margin-top-10 mode="ios">
        {{ 'MORE_DETAILS' | translate }}</ion-button>
    </ng-container>

    <div class="d-flex align-item-center" margin-top-10>
      <div class="wrp-left d-flex flex-direction-column align-item-center">
        <ion-icon name="radio-button-off"></ion-icon>
        <div class="bar"></div>
        <ion-icon name="radio-button-on"></ion-icon>
      </div>

      <div margin-left-15 class="flex-1">
        <div class="ellipsis">{{order.pickupLoc.address}}</div>
        <div class="hr-sep"></div>
        <div class="ellipsis">{{order.dropoffLoc.address}}</div>
      </div>
    </div>


    <ion-progress-bar class="ion-margin-vertical" color="orange-color"></ion-progress-bar>
    <ng-container *ngIf="!isTracking">
      <ion-button (click)="OrderAccept()" expand="block" margin-top-10 mode="ios" *ngIf="order.status == 'pending'">
        {{ 'ACCEPT' | translate }}</ion-button>

      <ng-container *ngIf="order.typeofService == 'Order an item' && order.status == 'accepted'">
        <ng-container *ngIf="order.orderPriceStatus == 'accepted'">

          <div class="d-flex align-item-center justofy-content-space-between">
            <ion-button (click)="OrderCancellation()" expand="block" color="danger" margin-top-10 mode="ios">
              {{ 'CANCEL' | translate }}</ion-button>

            <ion-button (click)="arrived()" expand="block" margin-top-10 mode="ios">
              {{ 'ARRIVED' | translate }}</ion-button>
          </div>
        </ng-container>

        <ng-container *ngIf="order.status == 'pending'">
          <!-- <ng-container *ngIf="order.orderPriceStatus != 'accepted'"> -->
          <div class="d-flex align-item-center justofy-content-space-between">
            <div *ngIf="order.orderPriceOffer.price">Please wait for customer response</div>
            <ion-button (click)="OrderCancellation()" expand="block" color="danger" margin-top-10 mode="ios">
              {{ 'CANCEL' | translate }}</ion-button>

            <ion-button (click)="sendOffer()" expand="block" margin-top-10 mode="ios"
              *ngIf="!order.orderPriceOffer.price">
              {{ 'Send Offer' | translate }}</ion-button>
          </div>
          <!-- </ng-container> -->
        </ng-container>
      </ng-container>

      <ng-container *ngIf="order.typeofService == 'Deliver an item' && order.status  == 'accepted' ">
        <div class="d-flex align-item-center justofy-content-space-between">
          <ion-button (click)="OrderCancellation()" expand="block" color="danger" margin-top-10 mode="ios">
            {{ 'CANCEL' | translate }}</ion-button>

          <ion-button (click)="arrived()" expand="block" margin-top-10 mode="ios">
            {{ 'ARRIVED' | translate }}</ion-button>
        </div>
      </ng-container>

      <ion-button (click)="start()" color="success" expand="block" margin-top-10 mode="ios"
        *ngIf="order.status == 'arrived'">
        {{ 'START' | translate }}</ion-button>


      <ion-button (click)="complete()" color="success" expand="block" margin-top-10 mode="ios"
        *ngIf="order.status == 'started'">
        {{ 'COMPLETE' | translate }}</ion-button>

    </ng-container>

    <div *ngIf="order.status ==  'completed'" class="ion-text-center">{{ 'COMPLETED' | translate }}</div>

  </div>

</ion-content>

<ng-container *ngIf="showRatingPopup">
  <app-rate-a-customer [requestData]="order" (onAction)="submit()"></app-rate-a-customer>
</ng-container>