ion-segment {
    .segment-button-checked {
        ion-label {
            color: var(--orange-color);
        }

    }
}

.product-img {
    width              : 100%;
    height             : 100%;
    background-position: center;
    background-size    : cover; 
}

.outer-order {
    h1 {
        margin       : 0;
        margin-bottom: 8px;
    }

    .info {
        .text {
            padding-bottom: 0;
        }

        .value {}
    }
}

.footer {
    border-bottom : 1px solid #d8d8d8;
    margin-bottom : 10px;
    padding-bottom: 10px;

    .date-added {
        color      : #8c8c8c;
        padding-top: 8px;
    }

    .price {
        text-align : right;
        color      : var(--orange-color);
        font-size  : 18px;
        font-weight: bold;
    }
}