<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{'TAB_4' | translate}}</ion-title>
  </ion-toolbar>
  <ion-segment color="danger" mode="md" [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="sechduled">
      <ion-label color="danger">{{ 'SCHEDULED' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label color="danger">{{'HISTORY' |  translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content class="ion-padding">

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>

  <ng-container *ngIf="segmentValue == 'sechduled'">

    <ng-container *ngIf="!runningOrders && !runningOrders.length">
      <div>
        {{ 'NOTHING_TO_SHOw' | translate }}
      </div>

    </ng-container>

    <ng-container *ngFor="let order of runningOrders">


      <app-order-list [order]="order" [isCustomerCalled]="true" ></app-order-list>

      <!-- <ion-row (click)="goToDetail(order)">

        <ion-col size="4">
          <div class="product-img" [ngStyle]="{ 'background-image': 'url(' + order?.products[0]?.productImage + ')' }">
          </div>
        </ion-col>
        <ion-col>
          <div class="outer-order">
            <h1>{{order.products.length}} {{ order.products.length.length > 1 ? 'Products' : 'Product'}}</h1>
            <ion-row class="info">
              <ion-col class="text">Delivery Fee:
                <span class="value">SDG{{order.deliveryFee}}</span>
              </ion-col>
            </ion-row>
            <ion-row class="info">
              <ion-col class="text">
                Staus:
                <span class="value" [class.order-status-pending]="order.status == 'pending'"
                  [class.order-status-delivered]="order.status == 'delivered'"
                  [class.order-status-completed]="order.status == 'completed'"
                  [class.order-cancelled]="order.isCancelledByAdmin || order.isCancelledByUser">
                  {{(order.isCancelledByAdmin || order.isCancelledByUser)  ? 'CANCELLED' :( order.status ? order.status : 'Pending')}}
                </span>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="footer">
        <ion-col class="date-added" size="8">{{order.dateAdded}}
        </ion-col>
        <ion-col class="price">SDG{{order.totalAmount}}</ion-col>
      </ion-row>-->
    </ng-container>


  </ng-container>

  <ng-container *ngIf="segmentValue == 'history'">

    <ng-container *ngIf="!historyOrders && !historyOrders.length">
      <div>
        {{ 'NOTHING_TO_SHOw' | translate }}
      </div>
    </ng-container>

    <ng-container *ngFor="let order of historyOrders">
      <app-order-list [order]="order" [isCustomerCalled]="true" ></app-order-list>
      <!-- <ion-row (click)="goToDetail(order)">
        <ion-col size="4">
          <div class="product-img" [ngStyle]="{ 'background-image': 'url(' + order?.products[0]?.productImage + ')' }">
          </div>
        </ion-col>
        <ion-col>
          <div class="outer-order">
            <h1>{{order.products.length}} {{ order.products.length.length > 1 ? 'Products' : 'Product'}}</h1>
            <ion-row class="info">
              <ion-col class="text">Delivery Fee:
                <span class="value">SDG{{order.deliveryFee}}</span>
              </ion-col>
            </ion-row>
            <ion-row class="info">
              <ion-col class="text">
                Staus:
                <span class="value" [class.order-status-pending]="order.status == 'pending'"
                  [class.order-status-delivered]="order.status == 'delivered'"
                  [class.order-status-completed]="order.status == 'completed'"
                  [class.order-cancelled]="order.isCancelledByAdmin || order.isCancelledByUser">
                  {{(order.isCancelledByAdmin || order.isCancelledByUser)  ? 'CANCELLED' :( order.status ? order.status : 'Pending')}}
                </span>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="footer">
        <ion-col class="date-added" size="8">{{order.dateAdded}}
        </ion-col>
        <ion-col class="price">SDG{{order.totalAmount}}</ion-col>
      </ion-row> -->
    </ng-container>

  </ng-container>



</ion-content>