ion-toolbar {
    border-bottom: 0.55px solid #EAECEF;
}

.wrp-profile {
    .profile-pic {
        width           : 93px;
        height          : 93px;
        background-size: cover;
        border-radius   : 50%;
    }
}