<ion-header class="ion-no-border header ">
  <ion-toolbar color="header" class="ion-padding wrp-big-header d-flex align-item-flex-end d-flex">
    <div class="wrp-profile d-flex align-item-center" (click)="editProfile()">
      <div class="profile-pic" margin-right-10
        [ngStyle]="{ 'background-image': 'url(' + (user.photoUrl ? user.photoUrl : '../../../assets/imgs/user_alter.png') + ')' }">
      </div>
      <ion-text class="font-2 flex-1 w700">{{ user.displayName }}</ion-text>
      <ion-icon name="chevron-forward-icon"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div margin-top-30></div>

  <div class="item" (click)="totalOrdersPage()">
    <ion-icon name="profile-order-list"></ion-icon>
    <ion-text>{{ 'TOTAL_ORDERS' | translate }}</ion-text>
    <ion-icon name="chevron-forward-icon"></ion-icon>
  </div>

  <!-- <div class="item" (click)="paymentMethods()">
    <ion-icon name="payment-icon"></ion-icon>
    <ion-text>{{ 'PAYMENT_METHODS' | translate }}</ion-text>
    <ion-icon name="chevron-forward-icon"></ion-icon>
  </div> -->


  <div class="item" (click)="raiseaComplaint()">
    <ion-icon name="help-center"></ion-icon>
    <ion-text>{{ 'RAISE_A_COMPLAIN' | translate }}</ion-text>
    <ion-icon name="chevron-forward-icon"></ion-icon>
  </div>


  <div class="item haeder" margin-top-55 (click)="changeLanguage()">
    <ion-icon name="language"></ion-icon>
    <ion-text>{{ 'CHANGE_LANGUAGE' | translate }}</ion-text>
    <ion-icon name="chevron-forward-icon"></ion-icon>
  </div>

  <ion-button mode="ios" margin-top-55 class="pink-button" expnad="bloack" (click)="signOut()">
    {{ 'SIGN_OUT'  | translate}}</ion-button>

</ion-content>