ion-content {
    --background: var(--bg-grey)
}

.middle-content {
    height          : 450px;
    width           : 90%;
    background-color: #ffffff;
    box-shadow      : 0 5px 10px var(--shadow-color);
    border-radius   : 10px;

    .wrp-photo {
        width           : 142px;
        height          : 142px;
        background-size: cover;
        border-radius   : 50%;
        border          : 4px solid #ffffff;
        box-shadow      : 0 5px 10px #D2D3D7;
        position        : relative;
        top             : -50px;
        left            : 50%;
        transform       : translateX(-50%);

        ion-icon {
            position: absolute;
            bottom  : 0;
            right   : 0;
            width   : 40px;
            height  : 40px;
        }
    }
}