<ion-header class="ion-no-border">
  <ion-toolbar class="d-flex">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
    <ion-title>{{'EDIT_PROFILE' | translate}}</ion-title>
    <div *ngIf="!isDriver" slot="end" class="color-orange w700" (click)="update()">{{ 'DONE' | translate }}</div>
  </ion-toolbar>
</ion-header>

<ion-content class="header">
  <div class="main-div">
    <div class="middle-content">
      <div class="wrp-photo"
        [ngStyle]="{ 'background-image': 'url(' + (user.photoUrl ? user.photoUrl : '../../../assets/imgs/user_alter.png') + ')' }">
        <ion-icon name="camera-icon" *ngIf="!isDriver" (click)="addPhoto()"></ion-icon>
      </div>
      
      <ion-list class="ion-no-padding ion-no-margin">
        <ion-item>
          <ion-label class="color-light-grey" position="floating">{{"USERNAME" |  translate}}</ion-label>
          <ion-input [readonly]="isDriver ? 'true' : 'false'" [(ngModel)]="user.displayName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="color-light-grey" position="floating">{{"EMAIL" |  translate}}</ion-label>
          <ion-input [readonly]="isDriver ? 'true' : 'false'" readonly [(ngModel)]="user.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="color-light-grey" position="floating">{{"PHONE" |  translate}}</ion-label>
          <ion-input [readonly]="isDriver ? 'true' : 'true'" readonly [(ngModel)]="user.phoneNumber"></ion-input>
        </ion-item>

      </ion-list>
    </div>
  </div>
</ion-content>