<ion-header>
  <ion-toolbar class="d-flex">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{'SELECT_LANGUAGE' |  translate}}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>{{'SELECT_LANGUAGE' | translate}}</ion-label>
      </ion-list-header>

      <ion-item checked="true">
        <ion-label>English</ion-label>
        <ion-radio mode="md" color="dark" slot="end" value="en"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Arabic</ion-label>
        <ion-radio mode="md"  slot="end" value="ar"></ion-radio>
      </ion-item>


    </ion-radio-group>
  </ion-list>

</ion-content>