/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'AvenirBold';
    src        : url("assets/fonts/AvenirLTStd-Black.otf");
}

@font-face {
    font-family: 'AvenirReg';
    src        : url("assets/fonts/AvenirLTStd-Roman.otf");
}


:root {
    --orange-color  : #ff8c00;
    --pink-color    : #FF2D55;
    --dark-blue     : #0A1F44;
    --light-grey    : #F1F1F2;
    --light-font-clr: #B8BBC6;
    --purple        : #5856D6;
    --blue          : #5AC8FA;
    --bg-grey       : #F7F8FA;
    --shadow-color  : #D2D3D7;

}


.heading {
    @extend .font-7;
    font-family: 'AvenirBold';
    @extend .w700;
    color: var(--dark-blue);
}

.heading-2 {
    @extend .font-5;
    font-family: 'AvenirBold';
    @extend .w700;
    color: var(--dark-blue);
}

.heading-3 {
    @extend .font-3;
    font-family: 'AvenirBold';
    @extend .w700;
    color: var(--dark-blue);
}



div,
span,
p,
a,
ion-input,
ion-button,
ion-label,
ion-title,
ion-text {
    font-family: 'AvenirReg' !important;
    color      : var(--dark-blue) !important;
}

ion-content {
    --background: var(--bg-grey);
}

.header {
    --ion-color-base        : var(--ion-color-header);
    --ion-color-base-rgb    : var(--ion-color-header-rgb);
    --ion-color-contrast    : var(--ion-color-header-contrast);
    --ion-color-contrast-rgb: var(--ion-color-header-contrast-rgb);
    --ion-color-shade       : var(--ion-color-header-shade);
    --ion-color-tint        : var(--ion-color-header-tint);
}


ion-header {
    background: white;
    ion-title {
        text-align: center;
    }
}



.color-light-grey {
    color: var(--light-font-clr) !important;
}

.color-purple {
    color: var(--purple);
}

.color-white {
    color: #fff !important;
}

.color-orange {
    color: var(--orange-color) !important;
}

.fade-out {
    opacity       : 0;
    pointer-events: none;
}

.fade-in {
    opacity       : 1;
    pointer-events: all;
}

.mrs-anm {
    transition: all 0.4s ease;
}

.w-100 {
    width: 100%;
}


.font-0 {
    font-size     : 0.9rem !important;
    line-height   : 1rem;
    letter-spacing: 0.4px
}

.font-1 {
    font-size     : 1rem;
    line-height   : 1rem;
    letter-spacing: 0.3px
}

.font-11 {
    font-size     : 1.1rem;
    line-height   : 1.3rem;
    letter-spacing: 0.3px
}

.font-2 {
    font-size     : 1.2rem;
    line-height   : 1.5rem;
    letter-spacing: 0.3px
}

.font-3 {
    font-size     : 16px;
    line-height   : 1.6rem;
    letter-spacing: 0.3px
}

.font-4 {
    font-size     : 1.6rem;
    line-height   : 1.6rem;
    letter-spacing: 0.3px
}

.font-5 {
    font-size     : 1.8rem;
    line-height   : 1.8rem;
    letter-spacing: 0.3px
}

.font-6 {
    font-size     : 2rem;
    line-height   : 2rem;
    letter-spacing: 0.3px
}

.font-7 {
    font-size     : 2.2rem;
    line-height   : 2.2rem;
    letter-spacing: 0.3px
}

.font-8 {
    font-size     : 2.5rem;
    line-height   : 2.5rem;
    letter-spacing: 0.3px
}

.font-9 {
    font-size     : 3rem;
    line-height   : 3rem;
    letter-spacing: 0.3px
}

.font-70 {
    font-size     : 7.5rem;
    line-height   : 7rem;
    letter-spacing: -0.2px;
}

.w100 {
    font-weight: 100
}

.w400 {
    font-weight: 400
}

.w500 {
    font-weight: 500
}

.w600 {
    font-weight: 600
}

.w700 {
    font-weight: 700
}

.w900 {
    font-weight: 900
}



.d-flex {
    display: flex
}

.align-item-center {
    align-items: center
}

.align-item-flex-end {
    align-items: flex-end
}

.align-item-flex-start {
    align-items: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-end {
    justify-content: flex-end
}

.flex-direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.v-flex {
    flex-flow: column;
}

.break-word {
    word-break: break-word
}

.ellipsis {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.text-indent {
    text-indent: 20px;
}

.width-100 {
    width: 100% !important
}

.width-60 {
    width: 60%;
}

.margin-centered {
    margin: 0 auto
}

;

.d-none {
    display: none;
    opacity: 0;
}

//html attributes
*[margin-bottom-30] {
    margin-bottom: 30px;
}

*[margin-bottom-40] {
    margin-bottom: 40px;
}


*[margin-bottom-20] {
    margin-bottom: 40px;
}

*[margin-bottom-10] {
    margin-bottom: 10px;
}

*[margin-bottom-5] {
    margin-bottom: 5px;
}

*[margin-0] {
    margin: 0px !important
}

*[margin-top-3] {
    margin-top: 3px;
}

*[margin-top-8] {
    margin-top: 8px;
}

*[margin-top-10] {
    margin-top: 10px !important
}

*[margin-top-20] {
    margin-top: 20px
}

*[margin-top-30] {
    margin-top: 30px
}

*[margin-top-40] {
    margin-top: 40px
}

*[margin-top-55] {
    margin-top: 55px !important;
}

*[margin-top-5] {
    margin-top: 5px !important;
}


*[margin-top-100] {
    margin-top: 100px;
}

*[margin-right-15] {
    margin-right: 15px
}

*[margin-right-20] {
    margin-right: 20px;
}

*[margin-right-25] {
    margin-right: 25px
}

*[margin-right-40] {
    margin-right: 40px;
}

*[margin-right-10] {
    margin-right: 10px
}

*[margin-right-5] {
    margin-right: 5px;
}

*[margin-left-10] {
    margin-left: 10px
}

*[margin-left-15] {
    margin-left: 15px
}

*[content-padding-10] {
    padding: 10px
}

*[padding-top-25] {
    padding-top: 25px;
}

*[padding-top-10] {
    padding-top: 10px;
}

*[border-radius-15] {
    border-radius: 15px;
}

*[underline] {
    text-decoration: underline;
}

*[line-through] {
    text-decoration: line-through;
}

*[text-italic] {
    font-style: italic;
}

*[text-capatilize] {
    text-transform: capitalize;
}


.text-decoration-underline {
    text-decoration: underline;
}


ion-toolbar {
    height : 80px;
    padding: 0 10px;
}

.absolute-centered {
    position : absolute;
    top      : 50%;
    transform: translate(-50%, -50%);
    left     : 50%;
}

.mrs-input {
    height       : 44px;
    --background : var(--light-grey);
    height       : 44px;
    border-radius: 50px;
}

.mrs-textarea {
    --background : var(--light-grey);
    border-radius: 10px;
}

.underline-input {
    height       : 44px;
    --background : #f7f8fa;
    height       : 44px;
    border-bottom: 0.55px solid #e6e6e6;
}

ion-button {
    --background          : var(--orange-color);
    color                 : white !important;
    --background-activated: var(--orange-color);
    @extend .w-100;

    span {
        @extend .color-white;
    }
}

.pink-button {
    --background          : var(--pink-color) !important;
    color                 : white !important;
    --background-activated: var(--pink-color) !important;
    @extend .w-100;
}



ion-checkbox {
    --background-checked  : var(--orange-color);
    --border-color        : var(--orange-color);
    --border-color-checked: var(--orange-color);
}

.wrp-big-header {
    height: 200px;
}

.add-btn {
    background-color: var(--blue);
    @extend.d-flex;
    @extend .align-item-center;
    @extend .justify-content-center;
    width        : 80px;
    height       : 80px;
    border-radius: 50px;
    box-shadow   : 0 0 10px var(--blue);

    ion-icon {
        width : 28px;
        height: 28px;
    }
}

ion-textarea {
    --background    : var(--light-grey) !important;
    padding         : 10px;
    // border-radius: 15px;
    border          : 0.55px solid #e6e6e6;
    margin-top      : 10px;
}

.btn-on-map {
    position  : absolute;
    bottom    : 20px;
    width     : calc(100% - 20px);
    left      : 50%;
    transform : translateX(-50%);
    box-shadow: 0 5px 10px #e6e6e6;
}


.item {
    margin-top: 20px;
    @extend .d-flex;
    @extend .align-item-center;

    ion-icon:first-child {
        width       : 28px;
        height      : 28px;
        margin-right: 10px;
    }

    ion-text {
        font-size: 1.1rem;
        @extend .flex-1;
        align-self: flex-end;
    }
}

.wrp-ill {
    margin         : 0 auto;
    margin-top     : 100px;
    width          : 216px;
    height         : 216px;
    box-shadow     : 0 5px 10px var(--shadow-color);
    border-radius  : 50%;
    display        : flex;
    align-items    : center;
    justify-content: center;

    ion-icon {
        width : 120px;
        height: 120px;
    }
}

.main-div {
    width : 100%;
    height: 100%;
    @extend .d-flex;
    @extend .align-item-center;
    @extend .justify-content-center;
}


.scroll-x {
    display   : flex;
    overflow-x: auto;
}


.header-on-content {
    position        : sticky;
    top             : 0;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(255, 255, 255));
    width           : 100%;
    padding         : 11px 12px;
    z-index         : 9;
}


.color-green {
    color: green !important;
    @extend .w700;
}

.color-red {
    color: red;
}

.input-underline {
    border-bottom: 0.55px solid #e6e6e6;
}

.outline-button {
    width        : 50%;
    --background : transparent;
    border       : 1px solid var(--orange-color);
    border-radius: 10em;
    color        : var(--orange-color) !important;
}

.position-relative {
    position: relative;
}

.substringText {
    -webkit-box-orient: vertical !important; //add this line in in-line style
    -webkit-line-clamp: 1;
    display           : -webkit-box;
    overflow          : hidden;
    text-overflow     : ellipsis;
}

.order-status-pending {
    color         : #825050 !important;
    text-transform: capitalize !important;
}

.order-status-completed {
    color         : green !important;
    text-transform: capitalize !important;
}

.order-status-delivered {
    color         : var(--orange-color) !important;
    text-transform: capitalize !important;
}

.order-cancelled {
    color         : red !important;
    text-transform: capitalize !important;
}


ion-back-button { color:var(--orange-color); }

.my-orders-modal-half { height: 40%; top: 60%; @extend .mrs-anm; }
.my-orders-modal-full { height: 80%; top:20%; @extend .mrs-anm; }

.hr-sep { border: 0.55px solid #e6e6e6; width: 100%; margin: 19px 0; }

.wrp-over-map-btm { position: absolute; bottom: 0; width: 100%;  left: 50%; transform: translateX(-50%); padding: 20px; }
.wrp-over-map-top { position: absolute; top: 0; width: 100%;  left: 50%; transform: translateX(-50%); padding: 20px; }

.star-grey {
    color: #d9dade;
}

.star-yellow {
    color: #ff8c00;
}