<ion-tabs (ionTabsDidChange)="tabChanged($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon [name]="selectedTab == 'tab1' ? 'home-icon-activated' : 'home-icon'"></ion-icon>
      <ion-label>{{ 'TAB_1' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon [name]="selectedTab == 'tab2' ? 'stores-icon-activated' : 'stores-icon'"></ion-icon>
      <ion-label>{{ 'TAB_2' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon  [name]="selectedTab == 'tab3' ? 'notification-icon-activated' : 'notification-icon'"></ion-icon>
      <ion-label>{{ 'TAB_3' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon [name]="selectedTab == 'tab4' ? 'orders-list-activated' : 'orders-list'"></ion-icon>
      <ion-label>{{ 'TAB_4' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon [name]="selectedTab == 'tab5' ? 'profile-icon-activated' : 'profile-icon'"></ion-icon>
      <ion-label>{{ 'TAB_5' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>