<ion-header class="ion-no-border">
  <ion-toolbar class="d-flex">
    <ion-title>{{'HISTORY' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="!historyOrders.length" class="ion-text-center w-100 absolute-centered">
    {{ 'NO_NEARBY_ORDER_YET' | translate }}
  </div>


  <!-- <div class="d-flex align-items-center">

    <div class="child"></div>
    <div class="child"></div>

  </div> -->

  <div class="box">
    <div class="font-1 w700">{{ 'TOTAL_ORDERS' | translate }}</div>
    <div class="font-6 w700" margin-top-10>{{ historyOrders.length }}</div>
  </div>

  <!-- <div class="box" margin-top-20>
    <div class="font-1 w700">{{ 'SALE' | translate }}</div>
    <div class="font-6 w700" margin-top-10>
      <ion-text style="font-size: 1rem !important;">SDG</ion-text> {{ totalAmount  }}
    </div>
  </div> -->


  <div class="ion-margin-top" *ngFor="let order of historyOrders">

    <app-order-list [order]="order"></app-order-list>

  </div>

</ion-content>