.scroll-x {
    box-shadow: 0 0 10px #e6e6e6;
}

.wrp-cats {
    .icon {
        width              : 65px;
        height             : 65px;
        margin-bottom      : 7px;
        border-radius      : 50%;
        background-position: center;
        background-size    : cover;
        // background         : #e6e6e6;
        border             : 0.55px solid #ccc;
    }
}


.box {
    border-radius: 15px;
    height: 100px;
    padding: 16px;
}

.box:nth-child(1){ background: var(--ion-color-warning); }
.box:nth-child(2){ background: lightblue; }