<ion-tabs (ionTabsDidChange)="tabChanged($event)">

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="tabHome">
      <ion-icon [name]="selectedTab == 'tabHome' ? 'home-icon-activated' : 'home-icon'"></ion-icon>
      <ion-label>{{ 'DRIVER_TAB_1' | translate }}</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab1">
      <ion-icon [name]="selectedTab == 'tab1' ? 'orders-list-activated' : 'orders-list'"></ion-icon>
      <ion-label>{{ 'DRIVER_TAB_1' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon [name]="selectedTab == 'tab2' ? 'notification-icon-activated' : 'notification-icon'"></ion-icon>
      <ion-label>{{ 'DRIVER_TAB_2' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon [name]="selectedTab == 'tab3' ? 'notification-icon-activated' : 'notification-icon'"></ion-icon>
      <ion-label>{{ 'DRIVER_TAB_3' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon [name]="selectedTab == 'tab4' ? 'profile-icon-activated' : 'profile-icon'"></ion-icon>
      <ion-label>{{ 'DRIVER_TAB_Profile' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>