<ion-header>
  <ion-toolbar class="d-flex">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{'RAISE_A_COMPLAINT' |  translate}}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-input readonly [placeholder]="'ENTER_EMAIL'| translate" margin-top-20 [(ngModel)]="user.email"
    class="ion-text-start ion-padding-horizontal mrs-input">
  </ion-input>

  <ion-textarea margin-top-20 class="ion-text-start ion-padding-horizontal mrs-textarea" rows="6" cols="20"
    [(ngModel)]="info.message" placeholder="Enter any notes here..."></ion-textarea>


  <ion-button mode="ios" margin-top-55  expnad="block" (click)="onSend()">
    {{ 'SEND'  | translate}}</ion-button>
</ion-content>