.scroll-x {
    box-shadow: 0 0 10px #e6e6e6;
}

.wrp-cats {
    position: relative;
    .icon {
        width                 : 65px;
        height                : 65px;
        margin-bottom         : 7px;
        border-radius         : 50%;
        background-position   : center;
        background-size       : cover;
        border                : 0.55px solid #ccc;
    }
    .checked {
        width: 28px; height: 28px; display: flex; align-items: center; justify-content: center; background: var(--orange-color); border-radius: 50px; position: absolute; right: 0; border: 5px solid white;
        &.unselected { opacity: 0; pointer-events: none; }
        &.selected { transition: all 0.4s ease; opacity: 1; display: block; }
    }
}

.custome-toolbar {
    // ion-title {
    //     width     : 90%;
    //     display   : inline-block;
    //     text-align: left;
    // }

    .cart-outer {
        display : inline-flex;
        position: relative;

        .cart-icon {
            font-size: 30px;
            color    : var(--orange-color);
        }

        #notifications-badge {
            background-color: red;
            position        : absolute;
            top             : -3px;
            right           : -3px;
            border-radius   : 100%;
        }
    }
}