<ion-header class="ion-no-border">
  <ion-toolbar class="d-flex custome-toolbar">
    <ion-title>{{'TAB_2' | translate}}</ion-title>
    <div slot="end" class="cart-outer" (click)="goToCart()">
      <ion-icon class="cart-icon" name="cart-outline">
      </ion-icon>
      <ion-badge id="notifications-badge" color="danger" *ngIf="shoppingCart?.products?.length">
        {{shoppingCart?.products?.length}}</ion-badge>
    </div>
  </ion-toolbar>

  <ng-container *ngIf="listCats && listCats.length">
    <div class="scroll-x ion-padding-horizontal">
      <ng-container *ngFor="let cat of listCats">
        <div class="ion-text-center wrp-cats" margin-right-15 (click)="filterBy(cat)">
          <div class="checked" [class.selected]="cat.isSelected" [class.unselected]="!cat.isSelected">
            <ion-icon name="checkmark"></ion-icon>
          </div>
          <div class="icon" [ngStyle]="{ 'background-image': 'url(' + cat.imageUrl + ')' }"></div>
          <div margin-bottom-10>{{ cat.name }}</div>
        </div>
      </ng-container>
    </div>
  </ng-container>

</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngFor="let prod of products">
    <app-restaurant-item-list [product]="prod"></app-restaurant-item-list>
  </ng-container>

  <ng-container *ngIf="!products.length">
    <div class="ion-text-center" margin-top-55>
      <ion-text size="large">{{ 'NOTHING_TO_SHOW' | translate }}</ion-text>
    </div>
  </ng-container>
</ion-content>