.add-card-btn {
     border: 1px dashed var(--dark-blue);
    text-align: center;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
 }

.card {
    background: #0A0578; border-radius: 17px; padding: 16px; min-height: 178px;
    .number { color: white !important; text-align: center; font-size: 1.4rem; font-family: monospace !important; }
    .margin-10-0 { margin: 10px 0; }
}