<ion-header class="ion-no-border">
  <ion-toolbar class="d-flex">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
    <ion-title>{{'CREDIT_CARDS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <div class="add-card-btn" (click)="addCard()">{{ 'ADD_CARD' |  translate}}</div>

  <div class="card">
    <div class="d-flex align-item-center justify-content-space-between" margin-top-10>
      <div class="color-white font-5 w900" text-italic>VISA</div>
      <div class="color-white font-0" text-italic>~Default</div>
    </div>
    <div class="number margin-10-0">**** **** **** 4242</div>
    <div class="number">09/2023</div>
    <div class="margin-10-0 color-white font-3">Muhammad Anas</div>
  </div>

</ion-content>