ion-slides { height: calc(100vh - 80px);  }
.map {  width: 100%; height: 100%; }
ion-input { margin-top:20px }
.marker {
    position: absolute; top: 50%; width: 60px; height: 70px; left: 50%; transform: translate(-50%,-50%);
}


#pac-input {
    background-color: #fff;
    width: 100%;
    padding: 5px 10px;
    height: 50px;
    border-radius: 6px;
    text-overflow: ellipsis;
}

.searchbox-outer {
    border-bottom: 1px solid #ccc;
    position: absolute;
    z-index: 1;
    top: 20px;
    width: 90vw;
    left: 5vw;
    height: 50px;
    input {
        border: 0 !important;
        height: 48px;
        padding: 10px;
    }
}