<ion-header class="ion-no-border">
  <ion-toolbar class="d-flex">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="close-icon"></ion-icon>
    </ion-buttons>
    <ion-title>{{'SELECT_LOCATION' | translate}}</ion-title>
    <ion-buttons *ngIf="step >0" slot="end" (click)="dismiss()">
      <div class="w600">{{'DONE' | translate}}</div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide class="justify-content-flex-start flex-direction-column align-item-flex-start">
      <div class="searchbox-outer">
        <input id="pac-input" class="controls" type="text" placeholder="Search Location">
      </div>
      <div #map class="map"></div>
      <ion-icon name="marker" class="marker"></ion-icon>
      <ion-button mode="ios" class="btn-on-map" expnad="block" (click)="conitnue()">{{ 'SELECT_LOCATION' | translate }}
      </ion-button>
    </ion-slide>

    <ion-slide class="justify-content-flex-start ion-padding flex-direction-column align-item-flex-start">
      <div class="w-100">
        <ion-input [placeholder]="'ADDRESS_1' | translate" [(ngModel)]="address.address1"
          class="mrs-input ion-text-start ion-padding-horizontal"></ion-input>
      </div>
      <div class="w-100">
        <ion-input [placeholder]="'ADDRESS_2' | translate" [(ngModel)]="address.address2"
          class="mrs-input ion-text-start ion-padding-horizontal"></ion-input>
      </div>
      <div class="w-100">
        <ion-input [placeholder]="'CITY' | translate" [(ngModel)]="address.city"
          class="mrs-input ion-text-start ion-padding-horizontal"></ion-input>
      </div>
      <div class="d-flex align-item-center">
        <ion-input [placeholder]="'STATE' | translate" [(ngModel)]="address.state"
          class="mrs-input ion-text-start ion-padding-horizontal"></ion-input>
        <ion-input [placeholder]="'zipCode' | translate" [(ngModel)]="address.zipCode"
          class="mrs-input ion-text-start ion-padding-horizontal"></ion-input>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>